{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/SquareBlonde.jpg' %}" class="img-fluid">
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">Спасибо за лучший курс по Django 😊</h1>
  </div>
</div>

<h2 class="mt-5">Тут должно было быть мое портфолио, но у меня его нет...</h2>


</div>

{% endblock %}
